<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
    <alert></alert>
    <router-outlet></router-outlet>
</div>

<!-- creditos -->
<div class="text-center mt-4">
    <p>
        <a href="https://www.linkedin.com/in/jair-silva" target="_top">Meu LinkedIn</a>
    </p>
    <p>
        <a href="https://github.com/jaiirsilva" target="_top">Meu GitHub</a>
    </p>
</div>